@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: black;
    color: white;
    min-height: 150px;
    text-align: center;
}
header > h1 {
    padding: 40px 0px 0px 0px;
    font-family: 'Fredoka One', sans-serif;
    font-weight: bolder;
    font-size: 2.7em;
}
header > p {
    font-size: 0.9em;
    padding-bottom: 55px;
}
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}

main > section > p {
    font-family: 'Kalam', 'cursive';
    font-weight: bold;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.726);
    line-height: 2em;
}
main > section#semfundo1, section#semfundo2, section#semfundo3 {
    padding: 100px 0px ;
    margin-left: 20px;
}
main > section#comfundo1 {
    background: url(imagens/background001.jpg) right center/cover no-repeat fixed;
    padding: 40px 0px;
}
main > section#comfundo1 > p {
    color: rgba(255, 255, 255, 0.945);
    width: 295px;
    margin: 50px 0px;
    padding: 10px 0px 0px 20px;
    background-color: #0000004d;
    backdrop-filter: blur(12px);
}
main > section#comfundo2 {
    background: url(imagens/background002.jpg) right center/cover no-repeat fixed;
    padding: 40px 0px;
}
main > section#comfundo2 > p {
    color: rgba(255, 255, 255, 0.945);
    width: 298px;
    margin: 50px 0px;
    padding: 10px 0px 0px 20px;
    background-color: #0000004d;
    backdrop-filter: blur(12px);
}
footer {
    background-color: black;
    color: white;
    text-align: center;
}
footer > p {
    padding: 7px 0px;
    font-size: 0.9em;
}